corpus_data
datasets
out
checkpoints
data-for-public
logs
yaml_files

promptsource
*/promptsource
*/*promptsource*

*.err
*.out
*.txt
*/*.err
*/*.out
*/*.txt

__pycache__
*/__pycache__
*/*/__pycache__

Makefile
*/Makefile

*tmp*
*/*tmp*
*track*
*/*track*

my*
*.zip
*.pkl
*.jsonl
*.csv
